.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainheader{
  color: white;
  justify-content: center;
  text-align: center;
  padding-top: 400px;
  padding-left: 500px;
  font-size: 3.5em;
}


.App-link {
  color: #61dafb;
}

.infoform{
  background-color: aliceblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
